.videoStatementContainer {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.videoStatementContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  background-color: #002900;
  border-radius: 0.5rem;
  margin: 0 auto;
}
/* Bloco do vídeo */
.videoBlock {
  width: 100%;
  aspect-ratio: 12 / 16;
  overflow: hidden;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
 border-radius: 0.5rem 0 0 0.5rem ;
}
/* Bloco de texto */
.videoStatementParagraph {
  font-family: var(--font-outfit);
  font-size: 2.2rem;
  font-weight: 100;
  max-width: 85%;
  justify-self: center;
  color: #ffffffbd;
  line-height: 150%;
}
/* Responsivo */
@media(max-width: 1000px){
  .videoStatementParagraph{
    font-size: 1.8rem;
  }
}
@media(max-width: 850px){
  .videoStatementParagraph{
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .videoStatementContainer{
    padding: 0rem;
  }
  .videoStatementContent {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 92%;
  }
  .video{
     border-radius: 0.5rem 0.5rem 0 0 ;
  }
  .videoBlock {
    aspect-ratio: 13 / 16;
  }
  .videoStatementParagraph {
    text-align: center;


    padding-bottom: 1.5rem;
    
  }
}
/* Responsivo */
@media (max-width: 500px) {
  .videoStatementParagraph {
    text-align: center;
    padding: 0rem 0 1.5rem 0;
  }
}