.wrapperCompanyIntroVideo{
  position: relative;
}
.video {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  max-height: 100%;
  aspect-ratio: 2/3;
}
.videoBlock {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: 100vh;
  width: fit-content;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.75) 48%,  rgba(241, 241, 241, 0.55) 48%, rgba(255, 255, 255, 0.4) 51%,rgba(255, 255, 255, 0.2) 51%, rgba(255, 255, 255, 0.2) 54%,  rgba(255, 255, 255, 0.6) 54%,  #f1f1f100 54%);
  background-size: 90rem 135rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 8%;
  overflow: hidden;
}
.textTitle1,
.textH1 {
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  color: #003518;
  margin-bottom: 0rem;
  filter: blur(0.1px);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.textTitle1{
  padding-top: 8rem;
}
.textH1 {
  font-size: 5rem;
  font-weight: 400;
  color: #013219;
  text-align: center;
  font-family: 'Playfair';
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25); 
}
.textSlider {
  position: relative;
  width: fit-content;
  height: 8%;
  overflow: hidden;
  align-self: center;
  text-align: center;
  margin-top: 3rem;
}
.words {
  font-size: 2rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  background-color: #002111;
  letter-spacing: 0.5rem;
    background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.004) 0%,
    rgba(50, 57, 59, 0.786) 25%,
    rgba(50, 57, 59, 0.8) 45%,
    rgba(50, 57, 59, 0.839) 65%,
    rgba(50, 57, 59, 0.728) 88%,
    transparent 95%,
    transparent 100%
  );
  border-radius: 0.5rem;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;
  filter: blur(0.1px);
  width: 25rem;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.004) 0%,
    rgba(18, 20, 21, 0.756) 25%,
    rgba(25, 27, 28, 0.8) 45%,
    rgba(30, 32, 33, 0.839) 65%,
    rgba(30, 32, 33, 0.623) 85%,
    transparent 100%
  );
    background: radial-gradient(
    circle at center,
    #2f353b 0%,      
    rgba(47, 53, 59, 0.7) 48%, 
    rgba(47, 53, 59, 0.3) 85%,
    rgba(47, 53, 59, 0) 100%  
  );
}

@media(max-width: 1059px){
  .words{
  padding: 0.5rem 2rem;
  letter-spacing: 0.4rem;
  width: 19rem;
}
}
@media (max-width: 1200px) {
  .textTitle1,
  .textH1 {
    font-size: 1.5rem;
  }
  .textH1 {
    font-size: 3rem;
  }
  .words {
    font-size: 1.2rem;
    width: 18rem;
  }
}
@media (max-width: 1000px) {
  .textTitle1,
  .textH1 {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .textH1 {
    font-size: 2.5rem;
  }
  .words {
    font-size: 1rem;
  }
  .video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100vh;
    height: auto;
    object-fit: cover;
  }
  .textBlock {
    right: 0;
    width: 50%;
    background-size: 90rem 140rem;
  }
  .textSlider{
    margin-top: 1.5rem;
  }
}
@media (max-width: 800px) {
   .textTitle1{
    padding-top: 0rem;
    padding: 0 0 1rem 0;
} 
  .textSlider{
    margin-top: 1rem;
  }
  .textBlock {
   width: 56%;
}
}
@media (max-width: 720px) {
.textBlock {
  width: 60%;
}
}
@media (max-width: 670px) {
  .textSlider{
    margin-top: -1rem;
    padding-bottom: 6.9rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .textTitle1,
  .textH1 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
  .textTitle1 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .textH1 {
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding-top: 0;
  }
  .words {
    font-size: 1rem;
  }
  .textBlock{
    bottom: 0; 
    left: 50%;
    padding: 0;
    height: fit-content;
    width: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    background-position: center top;
    margin: 0;
    justify-content:flex-end;
    background-size: 90rem 150rem;
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .textH1 {
    margin-top: 0;
  }
  .words {
    margin-bottom: 0.5rem;
    width: 15rem;
  }
}
@media (max-width: 290px){
  .textBlock{
    padding: 0;
  }
  .textTitle1{
    font-size: 0.8rem;
    padding: 0;
  }
  .textH1{
    padding: 0.8rem 0;
    font-size: 2rem;
  }
  .words{
    padding: 0.8rem 0;
    width: 10rem;
  }
}