.wrapperHeaderNav{
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  z-index: 9999;
  padding: 0.11rem 0;
}
.containerHeaderNav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  font-family: var(--font-outfit);
  font-weight: 300;
}
.menuSandwichBtn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: #002d18;
  font-size: 0.9rem;
  cursor: pointer;
  justify-self: flex-start;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.logoIcon{
  height: 4.3rem;
  width: auto;
}
.logoIconBlock{
  justify-self: center;
}
.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
}
.menuItemSpan{
  text-decoration: none;
  color: #002d18;
  font-size: 1rem; 
  position: relative;
  cursor: not-allowed;
}

.menuItemSpan::after{
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  background-color: #002100;
  margin-top: 0.125rem;
  transition: 0.3s;
  position: absolute;
}
.menuItem {
  text-decoration: none;
  color: #002d18;
  font-size: 1rem; 
  position: relative;
}
.menuItem1, .menuItem2, .menuItem3, .menuItemSpan{
  padding: 1.5rem 0;
}
.menuItem::after{
  content: "";
  display: block;
  height: 0.125rem;
  width: 0;
  background-color: #002100;
  margin-top: 0.125rem;
  transition: 0.3s;
  position: absolute;
}
.menuItem:hover::after{
  width: 100%;
}
.menuSandwichBlock{
  position: relative;
  width: fit-content;
}
.modalMenuOpen{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 1.5%;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  box-shadow: 0.13rem 0.25rem 0.5rem rgba(0, 0, 0, 0.251);
  padding: 2rem 3rem 2rem 1rem;
  border-radius: 0.6rem;
  height: auto;
  z-index: 1000;
}
.modalMenuItemSpan{
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: not-allowed;
}
.modalMenuItemSpan::after{
  content: "";
  display: block;
  height: 0.125rem;
  width: 51%;
  background-color: #002100;
  margin-top: 0.125rem;
  transition: 0.3s;
  position: absolute;
}

.modalMenuItem{
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}
.modalMenuItem::after{
  content: "";
  display: block;
  height: 0.125rem;
  width: 0;
  background-color: #002100;
  margin-top: 0.125rem;
  transition: 0.3s;
  position: absolute;
}
.modalMenuItem:hover::after{
  width: 51%;
}
.activeLink {
  border-bottom: 2px solid #002100; /* ou a cor que você quiser */
  font-weight: 600;
}

@media(max-width: 1260px){
  .menu{
    gap: 0.9rem;
  }
}
@media (max-width: 1200px) {
  .menu{
    margin-left: -2.5rem;
  }
}
@media (max-width: 1000px) {
  .containerHeaderNav{
    padding: 0 1rem;
  }
  .logoIcon{
  height: 3.8rem;
  }
  .menuItem1, .menuItem2, .menuItemSpan{
    display: none;
  }
  .menuItem1, .menuItem2, .menuItem3, .menuItemSpan{
  padding: 1.374rem 0;
}
.modalMenuOpen{
  top: 150%;
  left: 5%;
  padding: 1.5rem 3rem 1.5rem 1rem;
}
}
@media (max-width: 500px) {
  .menu{
    gap: 0.5rem;
    margin-left: -1rem;
    /* padding: 0.2rem; */
  }

}
@media(max-width: 400px){
      .menuItem1, .menuItem2, .menuItem3, .menuItemSpan{
    padding: 0.728rem 0;
}
}
@media (max-width: 360px) {
  .menu{
    gap: 0.5rem;
    margin-left: -1rem;
    padding: 0.2rem;
  }
  .menuItem, .menuSandwichBtn, .modalMenuItem, .modalMenuItemSpan, .menuItemSpan{
    font-size: 0.875rem;
  }
  .menuItem1, .menuItem2, .menuItem3, .menuItemSpan{
    padding: 1.726rem 0;
}
}
@media (max-width: 300px) {
  .menuItem1, .menuItem2, .menuItem3, .menuItemSpan{
    padding: 1.156rem 0;
}
}