.wrapperHeaderNav{
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* pode ajustar a transparência */
  backdrop-filter: blur(5px);
  z-index: 9999;
  padding: 0.6rem 0;
}
.containerHeaderNav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  font-family: var(--font-outfit);
  font-weight: 300;
}
.menuSandwichBtn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: #002d18;
  font-size: 0.9rem;
  cursor: pointer;
  justify-self: flex-start;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.logoIcon{
  height: 4.3rem;
  width: auto;
}
.logoIconBlock{
  justify-self: center;
}
.menu{
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 0.5rem 1rem;
}
.menuItem {
  text-decoration: none;
  color: #002d18;
  font-size: 1rem; 
  position: relative;
}
.menuItem::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #002100;
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}
.menuItem:hover::after{
  width: 100%;
}
.menuSandwichBlock{
  position: relative;
  width: fit-content;
}
.modalMenuOpen{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 1.5%;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.251);
  padding: 2rem 3rem 2rem 1rem;
  border-radius: 0.6rem;
  height: auto;
  z-index: 1000;
}
.modalMenuItem{
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}
.modalMenuItem::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #002100;
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}
.modalMenuItem:hover::after{
  width: 51%;
}
@media (max-width: 1200px) {
  .menu{
    gap: 1rem;
    margin-left: -2.5rem;
  }
}
@media (max-width: 1000px) {
  .containerHeaderNav{
    padding: 0 1rem;
  }
  .logoIcon{
  height: 3.8rem;
  }
  .menuItem1, .menuItem2{
    display: none;
  }
.modalMenuOpen{
  top: 150%;
  left: 5%;
  padding: 1.5rem 3rem 1.5rem 1rem;
}
}
@media (max-width: 500px) {
  .menu{
    gap: 0.5rem;
    margin-left: -1rem;
    padding: 0.2rem;
  }
}
@media (max-width: 360px) {
  .menu{
    gap: 0.5rem;
    margin-left: -1rem;
    padding: 0.2rem;
  }
  .menuItem, .menuSandwichBtn, .modalMenuItem{
    font-size: 0.875rem;
  }
}