.buttonWhatsappContainer{
  margin: 0 auto;
  padding: 0 3rem;
}
.whatsappIconFixed {
  position: fixed;
  padding: 0.25rem;
  bottom: 0.125rem; 
  right: 0.1rem;
  width: 5.5rem; 
  height: 5.5rem;
  cursor: pointer;
  z-index: 1000;
  border: solid 0.125rem transparent;
  margin: 1rem;
  animation: blink 6s infinite;
    &:hover {
      transform: scale(1.5);
      animation: none;
    }
  }
@keyframes blink {
  0% {
    opacity: 2;
  }
  50%{
    opacity: 1;
    transform: scale(1);
  }
  51%{
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 2;
  }
}
  @media (max-width: 600px) {
    .whatsappIconFixed {
      bottom: 1vw; 
      right: -2.5vw;
      width: 4rem; 
      height: 4rem;
      position: fixed;
   }
}